#partial-payment ul  {
  text-align:right ;
}

.to-be-paid-now  {
  font-size: 1.2em  ;
  font-weight: bold ;
}


.partial-payment-details  {

}


.order-review-table .data-col {
  padding-right: 3em;
  text-align: right;
  font-size: 1.2em;
}